requests~=2.32.4
python-dotenv~=1.1.1
gradio~=5.41.1
python-dateutil~=2.9.0.post0
pandas~=2.3.1
aiohttp~=3.12.15
matplotlib~=3.10.5
numpy~=2.2.6
pyarrow~=21.0.0
ipython~=8.37.0
torch~=2.8.0+cu128
faiss-cpu~=1.11.0.post1
sentence-transformers~=5.1.0
streamlit~=1.48.0
rank-bm25~=0.2.2
pycountry~=24.6.1